* {
    box-sizing: border-box;
}
body {
    font-family:"Noto Sans TC";
    margin: 0px;
    justify-self: center;
    
}
main{
    display: grid;
    grid-template-columns: auto minmax(300px,1200px) auto;
    grid-template-rows: 406px auto;
    margin-top: 40px;
    justify-items: center;
    color: #666666;;
    letter-spacing: 3px;

}
main > .top{
    grid-column: 2/3;
    grid-row: 1/2;
    display: inline-grid;
    grid-template-columns: 504px 600px;
    grid-gap:30px;
    
}
main > .top > .left_box{
    grid-column: 1/2;
    border-radius: 5px;
    height:406px;
}
main > .top > .left_box > .images{
    width:100%;
    aspect-ratio: 540/406;
    object-fit: fill;
    position: relative;
    bottom:20px;
    border-radius: 5px;
    z-index: 1;
    animation:  fade 1s forwards;
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}
main > .top > .left_box > .left_arrow{
    position:relative;
    top: 200px;
    left:20px;
    z-index: 2;
    opacity: 0.75;
}
main > .top > .left_box > .right_arrow{
    position:relative;
    bottom: 222px;
    left:450px;
    z-index: 3;
    opacity: 0.75;
}
main > .top > .left_box > .fade{
    z-index: 0;
}
main > .top > .left_box > .flow_dot{
    display: flex;
    justify-content: center;
    position:relative;
    z-index: 4;
    bottom: 110px;
}
main > .top > .left_box > .flow_dot > p{
    display:inline-block; 
    margin-left: 5px;
}
main > .top > .left_box > .flow_dot > .black_dot{
    width:12px;
    height:12px;
    border-radius: 10px;
    background-color:Black;
    border: solid 1px #FFFFFF;
}
main > .top > .left_box > .flow_dot > .white_dot{
    width:12px;
    height:12px;
    border-radius: 10px;
    background-color:#FFFFFF;
}
main > .top > .right_box{
    grid-column: 2/3;
    display: inline-grid;
    grid-template-rows: 33px 22px 302px;
    grid-gap:15px;
    align-self: center;
}
main > .top > .right_box > .title{
    grid-row: 1/2;
    font-size: 24px;
    font-weight: 700;
    align-self: end;
}
main > .top > .right_box > .title_info{
    grid-row: 2/3; 
}
main > .top > .right_box > .booking{
    grid-row: 3/4;
    display: grid;
    background: #E8E8E8;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;

}
main > .top > .right_box > .booking > .booking_time{
    display: inline-flex;
}
main > .top > .right_box > .booking > .booking_price{
    display: inline-flex;
}
main > .top > .right_box > .booking > .booking_time > .day_time{
    accent-color: #448899;
}
main > .top > .right_box > .booking > .booking_time > .night_time{
    accent-color: #448899;
}
input[type="radio"] {
    width: 18px;
    height: 18px;
  }
main > .top > .right_box > .booking > button{
    width:154px;
    height: 36px;
    background-color: #448899;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 19px;
    border: 0 none;
    cursor: pointer;
}
main > .bottom{
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self:start ;
    line-height: 24px;
}
main > .bottom > hr {
    max-width:1200px; 
    border:1px solid #E8E8E8;
    margin-bottom: 40px;
    margin-top: 30px;
}
main > .bottom > .description{
    margin-bottom: 20px;
    line-height: 30px;
}
main > .bottom > .address{
    margin-bottom: 20px;
}
main > .bottom > .trans{
    margin-bottom: 20px;
}
footer {
    display: grid;
    height:104px;
    /* margin-top:1300px; */
    /* min-height: 104px; */
    justify-items: center;
    align-items: center;
    background: #757575;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 50px;
}
.text_2{
    font-size: 16px;
    font-weight: 700;
}
@media (max-width: 1200px) {
    main > .top {
      grid-template-columns: 450px 378px;
    }
    main > .top > .left_box > .images {
      bottom: 0px;
    }
    main > .top > .left_box > .right_arrow {
      bottom: 190px;
      left: 400px;
    }
    main > .top > .left_box > .flow_dot {
      bottom: 90px;
    }
    main > .bottom > hr {
      margin-top: 0px;
    }
  }
  @media (max-width: 900px) {
    main {
      grid-template-columns: auto minmax(600px, 900px) auto;
      grid-template-rows: 900px auto;
      margin-top: 40px;
    }
    main > .top {
      grid-column: 2/3;
      grid-row: 1/2;
      grid-template-columns: 600px;
      grid-template-rows: 406px 510px;
      grid-gap: 30px;
    }
    main > .top > .left_box {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    main > .top > .left_box > .right_arrow {
      left: 550px;
      bottom: 260px;
    }
    main > .top > .left_box > .left_arrow {
      top: 235px;
    }
    main > .top > .right_box {
      grid-column: 1/2;
      grid-row: 2/3;
      margin: 10px;
    }
    main > .top > .right_box {
      grid-template-rows: auto 22px 302px;
    }
    main > .bottom {
      grid-row: 2/3;
    }
  }
  @media (max-width: 607px) {
    main {
      grid-template-columns: auto 360px auto;
      grid-template-rows: 760px auto;
    }
    main > .top {
      grid-template-columns: 1fr;
      grid-template-rows: 300px 410px;
      grid-gap: 40px;
    }
    main > .top > .left_box > .images {
      aspect-ratio: 466/350;
      object-fit: cover;
    }
    main > .top > .left_box > .right_arrow {
      left: 315px;
      bottom: 170px;
    }
    main > .top > .left_box > .left_arrow {
      top: 150px;
      left: 10px;
    }
  }
  