<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;display=swap" rel="stylesheet">
    <title>台北景點</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/attraction.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../static/CSS/log.css" media="all" />  

</head>
<body>
    <div class="covering"></div>
    <nav>
        <strong class="logo"><a href="/">台北一日遊</a>
            <div class="top_bar">
                <div class="item"><a class="nav_booking">預定行程</a></div>
                <div class="item signin">登入/註冊</div>
                <div class="item signout">登出系統</div>
            </div>
        </strong>  
    </nav>
    <div class="signin_box">
        <div class="signin_boxtop"></div>
        <div class="signin_boxbottom">
            <div class="text_3">登入會員帳號</div>
            <button  class="icon_close"></button>
            <input class="sign_input" type="text" placeholder="輸入電子郵件" name="usermail"/>
            <input class="sign_input" type="password" placeholder="輸入密碼" name="password"/>
            <button class="sign_btn signin_btn">登入帳戶</button> 
            <div class="signin_message">
                <div class="error_signin">帳號或密碼錯誤</div>
                <div class="changeTo_signup">還沒有帳戶？點此註冊</div>
            </div>
        </div>
    </div>
    <div class="signup_box">
        <div class="signup_boxtop"></div>
        <div class="signup_boxbottom">
            <div class="text_3">註冊會員帳號</div>
            <button  class="icon_close"></button>
            <input class="sign_input" type="text" placeholder="輸入姓名" name="username"/>
            <input class="sign_input" type="text" placeholder="輸入電子郵件" name="usermail"/>
            <input class="sign_input" type="password" placeholder="輸入密碼" name="password"/>
            <button class="sign_btn signup_btn">註冊新帳戶</button>
            <div class="sigup_message">
                <div class="repeat_signup"></div>
                <div class="success_signup">註冊成功</div>
                <div class="changeTo_signin">已經有帳戶了？點此登入</div>
            </div>
        </div>
    </div>
    <main>
        <div class="top">
            <div class="left_box">
                <img class="left_arrow" src="../static/Images/btn_leftArrow.png"/>
                <img class="images"/>
                <img class="right_arrow" src="../static/Images/btn_rightArrow.png"/>
                <div class="flow_dot">
                    <!-- <p class="black_dot"></p> -->
                    <!-- <p class="white_dot"></p> -->
                </div>
            </div>
            
            <div class="right_box">
                <div class="title"></div>
                <div class="title_info"></div>
                <div class="booking">
                    <div class="text_2">訂購導覽行程</div>
                    <div>以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    <div class="booking_date">
                        <div class="text_2">選擇日期：
                            <input type="date" id="choose_date"/>
                        </div>
                    </div>
                    <div class="booking_time">
                        <div class="text_2">選擇時間：</div>
                        <div class="day_time"><input type="radio" name="time" value="day" checked/>上半天</div>
                        <div class="night_time"><input type="radio" name="time" value="night"/>下半天</div>
                    </div>
                    <div class="booking_price">
                        <div class="text_2">導覽費用：</div>
                        <div class="price">新台幣 2000 元</div>
                    </div>
                    <button class="start_booking_btn">開始預訂行程</button>
                </div>
                    
            </div>

        </div>
        <div class="bottom">
            <hr />
            <div class="description"></div>
            <div class="text_2">景點地址：</div>
            <div class="address"></div>
            <div class="text_2">交通方式：</div>
            <div class="trans"></div>
        </div>
    </main>
    <footer>COPYRIGHT © 2021 台北一日遊</footer>
</body>
<script src="../static/JS/attraction.js"></script>
<script src="../static/JS/log.js"></script>
</html>