<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;display=swap" rel="stylesheet">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/index.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../static/CSS/log.css" media="all" /> 
    
</head>
<body>
    <div class="covering"></div>
    <nav>
        <strong class="logo"><a href="/">台北一日遊</a>
            <div class="top_bar">
                <div class="item"><a class="nav_booking">預定行程</a></div>
                <div class="item"><span class="signin">登入/註冊</span></div>
                <div class="item"><span class="nav_member">會員中心</span></div>
                <div class="item"><span class="signout">登出系統</span></div>
            </div>
        </strong>  
    </nav>
    <div class="signin_box">
        <div class="signin_boxtop"></div>
        <div class="signin_boxbottom">
            <div class="text_3">登入會員帳號</div>
            <button  class="icon_close"></button>
            <input class="sign_input" type="text" placeholder="輸入電子郵件" name="usermail"/>
            <input class="sign_input" type="password" placeholder="輸入密碼" name="password"/>
            <button class="sign_btn signin_btn">登入帳戶</button> 
            <div class="signin_message">
                <div class="error_signin"></div>
                <div class="changeTo_signup">還沒有帳戶？點此註冊</div>
            </div>
        </div>
    </div>
    <div class="signup_box">
        <div class="signup_boxtop"></div>
        <div class="signup_boxbottom">
            <div class="text_3">註冊會員帳號</div>
            <button  class="icon_close"></button>
            <input class="sign_input" type="text" placeholder="輸入姓名" name="username"/>
            <input class="sign_input" type="text" placeholder="輸入電子郵件" name="usermail"/>
            <input class="sign_input" type="password" placeholder="輸入密碼" name="password"/>
            <button class="sign_btn signup_btn">註冊新帳戶</button>
            <div class="sigup_message">
                <div class="repeat_signup"></div>
                <div class="success_signup">註冊成功</div>
                <div class="changeTo_signin">已經有帳戶了？點此登入</div>
            </div>
        </div>
    </div>
    <header>
        <div class="intro_bar">
            <div class="intro">
                <div>輕鬆享受台北一日悠閒</div>
                <div class="text">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="search_bar">
                    <input type="text" placeholder="輸入景點名稱查詢" id="keyword_value"/>
                    <button class="srh_attr_btn">
                </div>
                
            </div> 
            <img src="../static/Images/welcome.png"/>
        </div>
    </header>
    <main>
        <!-- <div class="attrs_all" A frame in ATTR>
            <div class="img"></div>
            <div class="attra_name" Title></div>
            <div class="attra_det" conclude Mrt Category>
                <div class="mrt"></div>
                <div class="category"></div>
            </div>
        </div> -->
    </main>
    <footer>COPYRIGHT © 2021 台北一日遊</footer>
</body>
<script src="../static/JS/index.js"></script>
<script src="../static/JS/log.js"></script>
</html>