<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;display=swap" rel="stylesheet">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/index.css" media="all" /> 

</head>
<body>
    <nav>
        <strong class="logo">台北一日遊
            <div class="top_bar">
                <div class="item"><a>預定行程</a></div>
                <div class="item"><a>登入/註冊</a></div>
            </div>
        </strong>  
    </nav>
    <header>
        <div class="intro_bar">
            <div class="intro">
                <div>輕鬆享受台北一日悠閒</div>
                <div class="text">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="search_bar">
                    <input type="text" placeholder="輸入景點名稱查詢" id="keyword_value"/>
                    <button class="srh_attr_btn">
                </div>
                
            </div> 
            <img src="../static/Images/welcome.png"/>
        </div>
    </header>
    <main>
        <!-- <div class="attrs_all" A frame in ATTR>
            <div class="img"></div>
            <div class="attra_name" Title></div>
            <div class="attra_det" conclude Mrt Category>
                <div class="mrt"></div>
                <div class="category"></div>
            </div>
        </div> -->
    </main>
    <footer>COPYRIGHT © 2021 台北一日遊</footer>
</body>
<script src="../static/JS/index.js"></script>
</html>