<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;display=swap" rel="stylesheet">
    <title>會員中心</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/member.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../static/CSS/log.css" media="all" /> 
    
</head>
<body>
    <div class="covering"></div>
    <nav>
        <strong class="logo"><a href="/">台北一日遊</a>
            <div class="top_bar">
                <div class="item"><a class="nav_booking">預定行程</a></div>
                <div class="item signin">登入/註冊</div>
                <div class="item nav_member">會員中心</div>
                <div class="item signout">登出系統</div>
            </div>
        </strong>  
    </nav>
    <main>
        <div class="member_top">
            <div class="member_icon"><img src="../static/Images/icon_member.jpg" /></div>
            <div class="member_info">
                <div>使用者名稱：<span class="user_name"></span></div>
                <div>帳號：<span class="user_mail"></span></div>
                <div>密碼：<span class="user_password">********</span></div>
                <button class="edit_btn">修改會員資料</button>
                <!-- 點擊之後 要變成儲存會員資料 然後reload -->
            </div>
        </div>
        <div class="member_bottom">
            <strong>查看歷史訂單資料</strong>
            <div>訂單編號：<span class="order_number"></span></div>
            <div>景點名稱：<span class="attr_name"></span> <button class="goto_attr_btn">點我查看詳細資訊</button></div>
            <div>日期：<span class="order_date"></span></div>
            <div>時間：<span class="order_time"></span></div>
            <div>聯絡人：<span class="contact_name"></span>  <span class="contact_phone"></span></div>
        </div>
        <button class="backintro_btn">回首頁</button>

    </main>
    <footer>COPYRIGHT © 2021 台北一日遊</footer>
</body>
<script src="../static/JS/member.js"></script>
<script src="../static/JS/log.js"></script>
</html>