<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;display=swap" rel="stylesheet">
    <title>感謝您的訂購</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/thankyou.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../static/CSS/log.css" media="all" />  

</head>
<body>
    <div class="covering"></div>
    <nav>
        <strong class="logo"><a href="/">台北一日遊</a>
            <div class="top_bar">
                <div class="item"><a class="nav_booking">預定行程</a></div>
                <div class="item signin">登入/註冊</div>
                <div class="item signout">登出系統</div>
            </div>
        </strong>  
    </nav>
    <div class="signin_box">
        <div class="signin_boxtop"></div>
        <div class="signin_boxbottom">
            <div class="text_3">登入會員帳號</div>
            <button  class="icon_close"></button>
            <input class="sign_input" type="text" placeholder="輸入電子郵件" name="usermail"/>
            <input class="sign_input" type="password" placeholder="輸入密碼" name="password"/>
            <button class="sign_btn signin_btn">登入帳戶</button> 
            <div class="signin_message">
                <div class="error_signin">帳號或密碼錯誤</div>
                <div class="changeTo_signup">還沒有帳戶？點此註冊</div>
            </div>
        </div>
    </div>
    <div class="signup_box">
        <div class="signup_boxtop"></div>
        <div class="signup_boxbottom">
            <div class="text_3">註冊會員帳號</div>
            <button  class="icon_close"></button>
            <input class="sign_input" type="text" placeholder="輸入姓名" name="username"/>
            <input class="sign_input" type="text" placeholder="輸入電子郵件" name="usermail"/>
            <input class="sign_input" type="password" placeholder="輸入密碼" name="password"/>
            <button class="sign_btn signup_btn">註冊新帳戶</button>
            <div class="sigup_message">
                <div class="repeat_signup"></div>
                <div class="success_signup">註冊成功</div>
                <div class="changeTo_signin">已經有帳戶了？點此登入</div>
            </div>
        </div>
    </div>
    <main>
        <div class="order-1">
            <strong class="order-intro">您好，<span class="order-username"></span>
                ，您的訂單編號為：<span class="order-number"></span></strong>
            <div class="order-1-box">
                <img class="order-image"/>
                <div class="order-info">
                    <div class="text-color">台北一日遊：<span class="order-attr"></span></div>
                    <div>日期：<span class="order-date"></span></div>
                    <div>時間：<span class="order-time"></span></div>
                    <div>費用：<span class="order-price"></span></div>
                    <div>地點：<span class="order-address"></span></div>
                </div>
            </div>
        </div>
        <div class="order-2">
            <div class="content-info">聯絡人資訊</div>
            <div>聯絡姓名：<span class="contact-name"></span></div>
            <div>連絡信箱：<span class="contact-mail"></span></div>
            <div>手機號碼：<span class="contact-phone"></span></div>  
        </div>
        <button class="backintro_btn">回首頁</button>
    </main>
    <footer>COPYRIGHT © 2021 台北一日遊</footer>
</body>
<script src="../static/JS/log.js"></script>
<script src="../static/JS/thankyou.js"></script>
</html>