<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;display=swap" rel="stylesheet">
    <title>感謝您的訂購</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/thankyou.css" media="all" />
    <link rel="stylesheet" type="text/css" href="../static/CSS/log.css" media="all" />  

</head>
<body>
    <div class="covering"></div>
    <nav>
        <strong class="logo"><a href="/">台北一日遊</a>
            <img  class="toggle" src="../static/Images/hamburger_icon.png" />
            <div class="top_bar">
                <div class="item"><a class="nav_booking">預定行程</a></div>
                <div class="item signin">登入/註冊</div>
                <div class="item nav_member">會員中心</div>
                <div class="item signout">登出系統</div>
            </div>
        </strong>    
    </nav>
    <iframe src="https://giphy.com/embed/IMIrV2M2nG4LcCu3nQ" width="300" height="150" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <div class="alert_box">
        <div class="alert_boxtop"></div>
        <div class="alert_text"></div>
        <button class="alert_close_btn">完成</button>
    </div>
    <main>
        <div class="order-1">
            <strong class="order-intro">您好，<span class="order-username"></span>
                ，您的訂單編號為：<span class="order-number"></span></strong>
            <div class="order-1-box">
                <img class="order-image"/>
                <div class="order-info">
                    <div class="text-color">台北一日遊：<span class="order-attr"></span></div>
                    <div>日期：<span class="order-date"></span></div>
                    <div>時間：<span class="order-time"></span></div>
                    <div>費用：<span class="order-price"></span></div>
                    <div>地點：<span class="order-address"></span></div>
                </div>
            </div>
        </div>
        <div class="order-2">
            <div class="content-info">聯絡人資訊</div>
            <div>聯絡姓名：<span class="contact-name"></span></div>
            <div>連絡信箱：<span class="contact-mail"></span></div>
            <div>手機號碼：<span class="contact-phone"></span></div>  
        </div>
        <div class="order-3">
            <button class="backintro_btn">繼續瀏覽</button>
            <button class="printorder_btn">列印訂單</button>
        </div>
    </main>
    <footer>COPYRIGHT © 2021 台北一日遊</footer>
</body>
<script src="../static/JS/log.js"></script>
<script src="../static/JS/thankyou.js"></script>
</html>